@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font01: 'Bebas Neue';
    --font02: 'Permanent Marker';
    --font03: Arial, Helvetica, sans-serif;
}

/*===============# HEADER #=============== */

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--font01);
    font-variant: small-caps;
    font-size: clamp(40px, 8vw, 80px);
    padding-top: 40px;
}
header > p{
    padding-bottom: 40px;
    color: white;
    font-family: var(--font03);
}
header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header > p > a:hover{
    text-decoration: underline;
}
/*===============# FIM #===============*/

/*===============# SECTION #===============*/

section{
    background-color: gray;
    padding-left: 50px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section > p{
    font-family: var(--font02);
    font-size: clamp(18px, 3vw, 30px);
    line-height: 2em;
}
/*===============# FIM #===============*/

/*===============# SECTION = "NORMAL" #===============*/

section.normal{
    background-color: white;
}
section.normal .espaco{
    padding-bottom: 10vw;
}
/*===============# FIM #===============*/

/*===============# SECTION = "IMAGEM" #===============*/

section.imagem{
    background: right center/cover fixed;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    padding: 10px;
}

/*===============# FIM #===============*/

/*===============# SECTION id="img"#===============*/

#img01{
    background-image: url(imagens/background001.jpg);
}
#img02{
    background-image: url(imagens/background002.jpg);
}

/*===============# FIM #===============*/